*,
*::after,
*::before {
    padding: 0;
    box-sizing: border-box;
}

h1,
p {
    margin: 0
}
ul{
    li{
        list-style: none;
    }
}
body{
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden
}

@import "./Helpers/variables";
@import "./Helpers/mixings";
@import "./pages/home/navbar";
@import "./pages/home/auctions";
@import "./pages/home/about-us";
@import "./pages/home/footer"